<!--@subject Newsletter subscription success @-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h4>Thank you for your subscription, here's your coupon code:</h4>
            <h5>{{var coupon_code}}</h5>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
